/*----------------About Me--------------- */
#about {
  padding: 80px 0;
  color: #435B66;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 15px;
  transition: 0.5s;
}
.about-col-1 img:hover {
  transform: scale(1.1);
}
.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #000;
  transition: transform 0.5s;
}
.sub-title:hover {
  color: #ffa721;
  transform: translateY(-20px);
}
.about-info {
  transition: 0.5s;
}
.about-info:hover {
  transform: scale(1.1);
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}
.tab-links:hover {
  transform: scale(1.5);
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ffa721;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 50%;
  color: #ffa721;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: #ffa721;
  font-size: 14px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}
